#notes {
    display: block;
    width: 100%;
    height: calc(2.25rem + 66px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.addButton {
    margin-bottom: 2em;
    width: 120px;
}

.trailTable {
    box-shadow: 0px 8px 18px #c4c4c4;
    min-width: 1020px;
    padding: 1em 0 0 1em;
}

.trailIcon {
    max-width: 60px;
    max-height: 60px;
    margin: .5em;
}

.tableButtons {
    margin: 0.3em 1em 0em 1em;
    width: 88px;
    float: right;
}