#additionalComponents, #plannedUpgrades {
    display: block;
    width: 100%;
    height: calc(2.25rem + 33px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cardContainer {
    justify-content: center;
}

.bikeCard {
    width: 333px;
    min-width: 333px !important;
    height: 600px;
    float: left;
    margin: 0 4em 0 4em;
    border: none !important;
    box-shadow: 0px 8px 18px #c4c4c4;
}

.bikeIconContainer {
    text-align: center;
}

.bikeIcon {
    max-width: 60px !important;
    max-height: 60px !important;
    float: right;
    margin: .5em 4em 0 0;
}

.cardTitle {
    padding-bottom: 1em;
    font-weight: 600;
}

.cardButtons {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 1em 1em 0;
    justify-content: center;
    float: right;
}

.cardUpdate {
    margin-right: 1em;
    width: 88px;
}

.cardDelete {
    width: 88px;
}