#additionalComponents, #plannedUpgrades {
    display: block;
    width: 100%;
    height: calc(2.25rem + 33px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bikeCards {
    padding: 1em;
}

.cardContainer {
    justify-content: center;
}

.bikeCard {
    width: 333px;
    height: 600px;
    float: left;
    margin: auto;
}

.cardTitle {
    padding-bottom: 1em;
}

.cardUpdate {
    float: left;
    bottom: 0;
    margin: 2em 1em 0 1em;
    width: 88px;
}

.cardDelete {
    float: right;
    margin: 2em 1em 0 1em;
    width: 88px;
}