#additionalComponents, #plannedUpgrades {
    display: block;
    width: 100%;
    height: calc(2.25rem + 33px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bikeCard {
    width: 333px;
    min-width: 333px !important;
    height: 700px;
    float: left;
    margin: 0 4em 2em 4em;
    border: none !important;
    box-shadow: 0px 8px 18px #c4c4c4;
}

.bikeIcon {
    max-width: 60px !important;
    max-height: 60px !important;
    float: right;
    margin: 0 1.2em 0 0;
}

.cardTitle {
    padding-bottom: 1em;
    text-align: center;
    font-weight: 600;
}

.cardUpdate {
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: center;
    float: left;
    width: 77px;
    margin: 1em;
}

.cardDelete {
    position: absolute;
    right: 0;
    bottom: 0;
    justify-content: center;
    float: right;
    width: 77px;
    margin: 1em;
}

ul.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.ul > li {
    padding: 2px;
}

ul.ul > li:nth-of-type(odd) {
    background-color: #f2f2f2 ;
}